ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:nth-child(4) a{
    margin-right: 30px;
}
li:nth-child(2) a{ /* TODO temp løsing */
    background-color: #222;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
/* TODO li a:active{
    background-color: aqua;
}*/