#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#navbar li:nth-child(1) a{
    cursor: pointer;
}

#navbar li a:hover {
    background-color: #111;
}

/* --------- SubMenu -------- */
#subMenu a{
    background-color: darkslategray;
    border-radius: 40%;
    font-size: small;
    cursor: pointer;
}

#subMenu a:hover{
    font-size: 14px;
}

/* -------------------------- */

/* --------------------------------- */

#optionMenu{
    position: fixed;
    color: whitesmoke;
    z-index: 1;
    top:18%;
    left: 7%;
    display: inline-block;
}

#mainMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainMenu li a{
    display: block;
    width: 120px;
    background-color: #333333;
    margin-bottom: 2px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    border-radius: 10%;
    cursor: pointer;
}

#optionMenu li a:hover{
    background-color: #111111;
}

/* ------ general menu ------ */
.general{
    display: block;
    width: 100px;
    font-size: small;
    padding: 5px 20px 5px 20px;
    background-color: #333333;
    text-align: center;
    border-radius: 10% 40% 40% 10%;
    cursor: pointer;
    margin-bottom: 2px;
    border-left: 100px;
}
#generalLast{
    margin-bottom: 10px;
}
.general:hover{
    background-color: #111111;
}
